__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.env
storage/*.json
storage/chroma/
result.json
*.tmp

data/raw/resume/*.pdf
data/raw/resume/*.PDF
data/raw/projects/*.md
data/raw/projects/*.MD
data/raw/experience/*.md
data/raw/experience/*.MD